name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    strategy:
      matrix:
        java: [21]
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'

      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
            key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
            path: |
              ./buildSrc/build

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          gradle-home-cache-includes: |
            caches

      - name: Clean, build and javadoc
        run: ./gradlew clean build javadoc -Plog-tests --stacktrace

      - name: Integration tests
        run: ./gradlew integ -Plog-tests --stacktrace

      - name: Allow long file names in git for windows
        if: matrix.os == 'windows-latest'
        run: git config --system core.longpaths true

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: java-${{ matrix.java }}-${{ matrix.os }}-test-report
          path: '**/build/reports/tests'
